<a href="https://colab.research.google.com/github/18K41A0536/536-ASSIGNMENT/blob/master/18K41A0536_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
year=int(input("enter the year "))
if year%12==0:
    print("Monkey")
elif year%12==1:
    print("Rooster")
elif year%12==2:
    print("Dog")
elif year%12==3:
    print("pig")
elif year%12==4:
    print("Rat")
elif year%12==5:
    print("ox")
elif year%12==6:
    print("Tiger")
elif year%12==7:
    print("Rabbit")
elif year%12==8:
    print("Dragon")
elif year%12==9:
    print("Snake")
elif year%12==10:
    print("Horse")
else:
    print("Sheep")

enter the year 2016
Monkey

A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. The charges (Amount) to be calculated as per rates given below.

In [8]:
dist=int(input('enter distance:'))
wt=int(input('enter weight:'))
if dist>=500:
    if wt>=100:
        cost=5*dist
    elif wt>=10 and wt<100:
            cost=6*dist
    else:
        cost=7*dist
else:
    if wt>=100:
        cost=8*dist
    else:
        cost=5*dist
        print('charge of cost:',cost)

enter  the distance 600
enter weight 50

3.The Entertainment Paradise

 A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given. 
Input: 	Type of Seat: Circle    
Payment mode: cash
Output: Cost of ticket: 675

In [9]:
s=625
c=750
up=850
b=100
x=int(input('type of seat:'))
print('do you pay through cash or card')
y=str(input('payment mode:'))
while y=='card':
    z=x*5/100
    cost=x-z
    print('cost of ticket:',cost)
else:    
    if y=='cash':
        w=x*10/100
        cost=x-w
        print('cost of ticket:',cost)

type of seat:700
do you pay through cash or card
payment mode:cash
cost of ticket: 630.0

4.Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 
Q = M * (finalTemperature – initialTemperature) * 4184.

In [10]:
initialTemperature=int(input("enter initial temperature:"))
finalTemperature=int(input("enter finial temperature:"))
M=int(input("enter water in kilo:"))
Q=M*(finalTemperature-initialTemperature)*4184
print(Q)

enter initial temperature:46
enter finial temperature:89
enter water in kilo:5
899560

5.Develop a program that prompts user to enter month and  print 
“Winter ” -   December ,January and February
“Spring”  -   March ,April and May
“Summer”  --- June ,July, August
“Autumn ”  -- September ,October, November

In [23]:

month=str(input("enter month"))
if month==december or january or febraury:
    print("winter")
elif month==march or april or may:
    print("spring")
elif month==june or july or august:
    print("summer")
else:
    print("autum")

enter monthdecember

NameError: ignored

5.Develop a program that prompts user to enter month and  print 
“Winter ” -   December ,January and February
“Spring”  -   March ,April and May
“Summer”  --- June ,July, August
“Autumn ”  -- September ,October, November

In [26]:
M=int(input('enter month number:'))
def season (M) : 
      
    # Taken all the possible 
    # month numbers in the list. 
    list = [[12 , 1 , 2], [3 , 4 , 5],  
             [6 , 7 , 8], [9 , 10 , 11]] 
               
    # Matching the month number 
    # with the above list entries  
    if M in list[0] : 
        print ( "WINTER" ) 
    elif M in list[1] : 
        print ( "SPRING" ) 
    elif M in list[2] : 
        print ( "SUMMER" ) 
    elif M in list[3] : 
        print ( "AUTUMN" ) 
    else : 
        print ( "Invalid Month Number" ) 
   
#M = 5
season ( M ) 
  
#M = 10
#print("For Month number:", M); 
#season ( M )

enter month number:12
WINTER

6.Body Mass Index

In [29]:
u_wt=int(input('enter your weight in pounds:'))
u_ht=int(input('enter your height in inches:'))
wt_kg=0.4535*u_wt
ht_mt=0.0254*u_ht
BMI=wt_kg/(ht_mt)*(ht_mt)
BMI
if BMI<18.5:
    print('under weight')
elif 18.5<=BMI<25.0:
    print('Normal')
elif 25.0<=BMI<30.0:
    print('over weight')
elif 30.0<=BMI:
    print('obesity')

enter your weight in pounds:30
enter your height in inches:50
under weight

7.Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer 	(	ex: input 745 	# output =16	(7+4+5)	)

In [36]:
num=int(input('enter the number between 100 and 1000:'))
sum=0
if num>100 and num<=1000:
    while num>0:
        rem=num%10
        sum=sum+rem
        num=num//10
    print(sum)

enter the number between 100 and 1000:536
14

8.Print all palindrome numbers between 1 to 1000.

In [43]:
max=int(input('enter the max value:'))
min=int(input('enter the min value'))
print('palindrome numbers bbetween %d and %d are:',(min,max))
for num in range (min,max+1):
    temp=num
    rev=0
    while temp>0:
        rem=temp%10
        rev=(rev*10)+rem
        temp=temp//10
    if num==rev:
        print('%d'%num,end=' ')

enter the max value:1000
enter the min value1
palindrome numbers bbetween %d and %d are: (1, 1000)
1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

9.Print all Armstrong numbers between 1 to 1000.

In [45]:
min=int(input('enter min range:'))
max=int(input('enter max range'))
for num in range(min,max+1):
    sum=0
    temp=num
    while temp>0:
        digit=temp%10
        sum+=digit**3
        temp//=10
    if num==sum:
        print(num)

enter min range:1
enter max range1000
1
153
370
371
407

10.Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".

In [55]:
 for fizzbuzz in range(100):  
  
    # number divisible by 3, print 'Fizz'  
   
    if fizzbuzz % 15 == 0:  
        print("FizzBuzz")                                          
        continue
  
    # number divisible by 5, print 'Buzz' 
  
    elif fizzbuzz % 3 == 0:      
        print("Fizz")                                          
        continue
  
    # number divisible by 15 (divisible  
    # by both 3 & 5), print 'FizzBuzz' 
  
    elif fizzbuzz % 5 == 0:          
        print("Buzz")                                      
        continue
  
 
    print(fizzbuzz)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

11.Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     
Input: Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters climbs up in each step, and the last ’D’ meters slips down in each step.
Output:  The number of steps 'N' required to get out of the well.
Example 1:
 	Input:						Ouput 
	200 50 1					    5
	Example 2:
 	Input:						Output
	500 20 15					   98

In [56]:
h=int(input('enter height of well:'))
u=int(input('enter meters he climbs in each step:'))
d=int(input('enter meters slips down each step:'))
if d>=u and h>u:
        print("-1")
elif h<=u:
    print("1")
else:
    res=(h-u)//(u-d)
    res=res+2
print(res)

enter height of well:500
enter meters he climbs in each step:20
enter meters slips down each step:15
98